.container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 40px 20%;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: #dddddd;
    padding: 5px 3px 2px 3px;
    border-radius: 18px;
}
.grid-item p{
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
    margin-bottom: 8px;
}
svg{
    transition: all .5s ease-in;
}
.grid-item:hover{
    transform: scale(1.02);
}
.grid-item:hover svg{
    transform: scale(1.2);
}
.title-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-page h1{
    font-size: 35px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1B1813;
    margin-top: 0;
}
.title-page p{
    font-size: 28px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1B1813;
    margin-top: 0;
    text-align: center;
}