:root{
    --bg-color: #0f172a;
    --card-bg: #1e293b;
    --accent: #38bdf8;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --gap: 20px;
    --mgx-icon-color: #38bdf8
}
body{
    background-color: var(--bg-color);
}
.container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 40px 0;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: var(--gap);
    margin: 0 auto;
    max-width: 1200px;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: var(--card-bg);
    padding: 15px;
    border-radius: 18px;
    min-width: 100px;
    border: 1px solid transparent;
}
.grid-item p{
    color: var(--text-muted);
    margin-bottom: 0;
}
svg{
    transition: all .5s ease-in;
}
.grid-item:hover{
    transform: scale(1.02);
    border-color: var(--accent);

}
.grid-item:hover svg{
    transform: scale(1.2);
}
.title-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-page h1{
    font-size: 35px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
    background: linear-gradient(90deg, #38bdf8, #818cf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-page p{
    font-size: 28px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-main);
    margin-top: 0;
    text-align: center;
}