.container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 40px 20%;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
svg{
    transition: all .5s ease-in;
}
.grid-item:hover{
    transform: scale(1.02);
}
.grid-item:hover svg{
    transform: scale(1.2);
}